<div class="flex flex-col md:py-10 md:px-16 md:gap-10 px-8 py-5 gap-10 items-center">
  <h1 class="md:text-4xl text-xl font-bold">Login</h1>
  <div class="grid gap-6">
    <div class="grid gap-1">
      <label for="email">E-mail</label>
      <input type="email" id="email" [(ngModel)]="email" class="bg-neutral-300 rounded-lg md:w-[30rem] md:h-10 px-2 border-neutral-400 text-lg outline-none focus:border"/>
    </div>
  </div>
  <button type="" class="md:w-[30rem] w-full bg-black text-white font-bold text-xl py-4 items-center rounded-lg" (click)="recuperar()">Recuperar senha</button>
  <hlm-toaster class="bg-neutral-950"/>
</div>
