<div class="px-4 md:px-16 flex w-full flex-col divide-y divide-neutral-700 pb-16">
  @if (resultadosBusca.length > 0) {
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-12 py-4 w-full">
      @for (produto of resultadosBusca; track produto.id) {
      @for (variante of produto.variantes; track variante.id) {
      <div class="w-fit">
        <a [routerLink]="['/item/', produto.id, produto.nome, variante.id, variante.nomeCor]" class="group">
          <img [src]="'/shoes/' + produto.id + '/principal.png'" alt="{{produto.nome}}" class="w-full">
          <div class="flex flex-col justify-between h-48 md:h-40 rounded-b-md py-3" >
            <div class="flex flex-col gap-1">
              <p class="w-fit font-bold">{{produto.nome}}</p>
              <p class="w-fit">{{produto.genero}}</p>
              <p class="w-fit">{{produto.categoria}}</p>
            </div>
            <p class="w-fit font-bold">{{produto.preco | currency: 'BRL':'symbol':'.2-2'}}</p>
          </div>
        </a>
      </div>
      }
      }
    </div>
  } @else {
    <div>
      <p>Não foram encontrados resultados</p>
    </div>
  }
</div>
