<brn-popover sideOffset="5" closeDelay="100">
      <button id="edit-profile" variant="outline" brnPopoverTrigger class="flex items-center justify-center">
        <hlm-icon name="lucideShoppingCart" class="px-2 text-neutral-400 h-10 w-10"/>

      </button>
      <div hlmPopoverContent class="w-80 flex flex-col gap-4 bg-neutral-100 border-neutral-400 text-black items-start justify-center" *brnPopoverContent="let ctx">
        <h4 class="text-lg font-bold">Carrinho</h4>
      @if (cesta.id > 0) {
        <div class="flex flex-col items-start justify-center gap-6 text-sm w-full">
          <div class="flex w-full justify-start gap-8">
            <p class="text-ellipsis line-clamp-1 w-24">Nome</p>
            <p class="w-4">Qtd.</p>
            <p class="w-12">Valor</p>
          </div>
          @for (item of cesta.itens; track item.id) {
            <div class="flex w-full justify-start gap-8">
              <p class="text-ellipsis line-clamp-1 w-24">{{item.produto.nome}}</p>
              <p class="w-4">{{item.quantidade}}</p>
              <p class="w-20">{{item.valor | currency: "BRL":'symbol':'.2-2'}}</p>
            </div>
          }
          <p class="font-bold pt-6 text-lg">Total: {{cesta.total | currency: "BRL":'symbol':'.2-2'}}</p>
          <a href="/carrinho" class="font-bold py-3 text-lg bg-black text-white w-full px-8 rounded-lg flex items-center justify-center">Ver detalhes</a>
        </div>
      } @else {
       <p>Seu carrinho está vazio</p>
      }
      </div>
</brn-popover>

